.content {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.containerpage h1 {
  text-align: center;
}

.containerpage .card {
  height: auto;
  box-shadow: -1px 8px 20px -11px rgb(0 0 0 / 75%);
}

.card a {
  text-decoration: none;
}
.content .imgs {
  object-fit: scale-down;
  /* -ms-flex-item-align: center; */
}
